.regular {
  font-weight: normal;
}
.italic {
  font-style: italic;
}

.left-align {
  text-align: left;
}
.center {
  text-align: center;
}
.right-align {
  text-align: right;
}
.justify {
  text-align: justify;
}

.list-reset {
  list-style: none;
  padding-left: 0;
}
