.h100 {
  height: 100%;
}

.w100 {
  width: 100%;
}

.w50 {
  width: 50%;
}

.h100vh {
  height: 100vh;
}

.h-auto {
  height: auto;
}

.w-auto {
  width: auto;
}

.inlineicon {
  margin-right: 0.5rem;
  vertical-align: middle;
  display: inline-block;
}

/* Type */
.uppercase {
  text-transform: uppercase;
}

.uppercasecaps {
  text-transform: uppercase;
  font-family: var(--type-sans-bold);
  font-weight: var(--type-weight);
  letter-spacing: 0.085em;
  -webkit-font-smoothing: antialiased;
}

/* Object-fit */
.ofc {
  object-fit: cover;
}

.oft {
  object-fit: contain;
}

.off {
  object-fit: fill;
}

/* Disabled */
.is-forbidden {
  cursor: not-allowed;
}

.is-disabled {
  pointer-events: none;
}

// Accessible hiding (Don't use display: none)
.visuallyhidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1px;
  width: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
}
