button,
a.button,
.button {
  background-color: var(--button-color);
  border: none;
  border-radius: var(--button-border-radius);
  cursor: pointer;
  display: inline-block;
  font-family: var(--type-sans-bold);
  font-size: var(--button-font-size);
  -webkit-font-smoothing: antialiased;
  font-weight: var(--type-weight-bold);
  line-height: normal;
  padding:
    calc(var(--button-padding-y) * 1.25)
    calc(var(--button-padding-x) * 1.25);
  transition:
    background-color 200ms,
    transform 200ms,
    color 200ms,
    box-shadow 200ms,
    border-color 200ms;
  color: white;

  &:hover {
    background-color: var(--button-color-hover);
    text-decoration: none;
  }

  &:active,
  &:focus {
    border-color: var(--form-field-border-color-focus);
    box-shadow: var(--form-field-box-shadow-focus);
    outline: none;
  }
}

.login-well.form-transparent {
  --button-color: #576487;
  --button-color-hover: #4a5675;
}

a.button-primary,
.button-primary {
  background-color: var(--button-color);
  border: 1px solid var(--button-color);
  color: white;

  &:hover,
  &:active {
    background-color: var(--button-color-hover);
    color: white;
  }
}

a.button-primary-outline,
.button-primary-outline {
  background: none;
  border: 1px solid var(--color-primary);
  color: var(--color-primary);

  &:hover,
  &:active {
    background: var(--color-primary);
    color: white;
  }
}

.body-dark .form-transparent {
  a.button-primary-outline,
  .button-primary-outline {
    border: 1px solid var(--color-light);
    color: var(--color-light);
  }
}

a.button-warning,
.button-warning {
  background-color: var(--color-warning);
  border: 1px solid var(--color-warning);

  &:hover,
  &:active {
    background: var(--color-warning);
    color: white;
  }
}

a.button-danger,
.button-danger {
  background-color: var(--color-danger);
  border: 1px solid var(--color-danger);

  &:hover,
  &:active {
    background: var(--color-danger);
    color: white;
  }
}

a.button-danger-outline,
.button-danger-outline {
  background-color: transparent;
  border: 1px solid var(--color-danger);
  color: var(--color-danger);

  &:hover,
  &:active {
    background: var(--color-danger);
    color: white;
  }
}

a.button-success,
.button-success {
  background-color: var(--color-success);
  border: 1px solid var(--color-success);

  &:hover,
  &:active {
    background: var(--color-success);
    color: white;
  }
}

a.button-info,
.button-info {
  background-color: var(--color-info);
  border: 1px solid var(--color-info);

  &:hover,
  &:active {
    background: var(--color-info);
    color: white;
  }
}

a.button-tiny,
.button-tiny {
  font-size: 0.85em;
  line-height: calc(var(--button-line-height) * 0.75);
  min-height: 24px;
  padding:
    calc(var(--button-padding-y) * 0.65)
    calc(var(--button-padding-x) * 1);

  @media #{$breakpoint-md} {
    font-size: 0.85em;
    min-height: 24px;
  }
}

a.button-small,
.button-small {
  font-size: 0.85em;
  line-height: calc(var(--button-line-height) * 1.1);
  min-height: 34px;
  padding:
    calc(var(--button-padding-y) * 0.85)
    calc(var(--button-padding-x) * 1);

  @media #{$breakpoint-md} {
    font-size: 0.85em;
    min-height: 34px;
  }
}

a.button-medium,
.button-medium {
  font-size: 1.2em;
  line-height: calc(var(--button-line-height) * 1.3);
  min-height: 40px;
  min-height: 44px;
  padding:
    calc(var(--button-padding-y) * 1.15)
    calc(var(--button-padding-x) * 1.5);

  @media #{$breakpoint-md} {
    font-size: 1.1em;
  }
}

a.button-large,
.button-large {
  font-size: 1.25em;
  line-height: calc(var(--button-line-height) * 2);
  min-height: 58px;
  padding:
    calc(var(--button-padding-y) * 1.25)
    calc(var(--button-padding-x) * 1.75);

  @media #{$breakpoint-md} {
    font-size: 1.6em;
  }
}

.button-transparent {
  background-color: transparent;
}

.btn {
  @extend .button;
  @extend .button-primary-outline;
  @extend .button-fullwidth;
}

.button-fullwidth {
  text-align: center;
  width: 100%;
}

button[type="submit"].button-social,
button.button-social,
a.button-social,
.button-social {
  border: none;
  margin: 0;
  padding-left: 80px;
  text-align: left;
  background-color: transparent;
  border-width: var(--form-field-border-width);
  border-style: var(--form-field-border-style);
  border-color: var(--form-field-border-color);
  color: var(--color-heading);
  transition:
    background-color 200ms,
    transform 200ms,
    color 200ms,
    box-shadow 200ms,
    border-color 200ms;

  .icon {
    align-items: center;
    background-color: var(--color-primary);
    border-bottom-left-radius: var(--button-border-radius);
    border-top-left-radius: var(--button-border-radius);
    box-sizing: border-box;
    display: inline-block;
    display: flex;
    font-size: 1.7rem;
    height: 100%;
    justify-content: center;
    left: 0;
    position: absolute;
    top: 0;
    width: 60px;
    color: white;
  }

  &:hover {
    background-color: transparent;
    color: var(--color-heading);
    border-color: var(--form-field-border-color-hover);
  }
}

button[type="submit"].button-social-icon,
button.button-social-icon,
a.button-social-icon,
.button-social-icon {
  overflow: hidden;
  border: none;

  .icon {
    border-top-right-radius: var(--button-border-radius);
    border-bottom-right-radius: var(--button-border-radius);
  }
}

.body-dark .form-transparent {
  button[type="submit"].button-social,
  button.button-social,
  a.button-social,
  .button-social {
    color: white;
    border-width: 0;
    background-color: var(--form-field-background-color-dark);
  }
}

button.button-social.button-google .icon,
.button-social.button-google .icon {
  background-color: var(--authenticator-google-color);
}

button.button-social.button-pingfederate .icon,
.button-social.button-pingfederate .icon {
  background-color: var(--authenticator-pingfederate-color);
}

button.button-social.button-email .icon,
.button-social.button-email .icon {
  background-color: var(--authenticator-email-color);
}

button.button-social.button-oidc .icon,
.button-social.button-oidc .icon {
  background-color: var(--authenticator-oidc-color);
}

button.button-social.button-group .icon,
.button-social.button-group .icon {
  background-color: var(--authenticator-group-color);
}

button.button-social.button-encap .icon,
.button-social.button-encap .icon {
  background-color: var(--authenticator-encap-color);
}

button.button-social.button-windows .icon,
.button-social.button-windows .icon {
  background-color: var(--authenticator-windows-color);
}

button.button-social.button-siths .icon,
.button-social.button-siths .icon {
  background-color: var(--authenticator-siths-color);
}

button.button-social.button-facebook .icon,
.button-social.button-facebook .icon {
  background-color: var(--authenticator-facebook-color);
}

button.button-social.button-github .icon,
.button-social.button-github .icon {
  background-color: var(--authenticator-github-color);
}

button.button-social.button-dropbox .icon,
.button-social.button-dropbox .icon {
  background-color: var(--authenticator-dropbox-color);
}

button.button-social.button-aws .icon,
.button-social.button-aws .icon {
  background-color: var(--authenticator-aws-color);
}

button.button-social.button-salesforce .icon,
.button-social.button-salesforce .icon {
  background-color: var(--authenticator-salesforce-color);
}

button.button-social.button-windows-live .icon,
.button-social.button-windows-live .icon {
  background-color: var(--authenticator-windows-live-color);
}

button.button-social.button-slack .icon,
.button-social.button-slack .icon {
  background-color: var(--authenticator-slack-color);
}

button.button-social.button-box .icon,
.button-social.button-box .icon {
  background-color: var(--authenticator-box-color);
}

button.button-social.button-bitbucket .icon,
.button-social.button-bitbucket .icon {
  background-color: var(--authenticator-bitbucket-color);
}

button.button-social.button-signicat .icon,
.button-social.button-signicat .icon {
  background-color: var(--authenticator-signicat-color);
}

button.button-social.button-criipto .icon,
.button-social.button-criipto .icon {
  background-color: var(--authenticator-criipto-color);
}

button.button-social.button-username .icon,
.button-social.button-username .icon {
  background-color: var(--authenticator-username-color);
}

button.button-social.button-stackexchange .icon,
.button-social.button-stackexchange .icon {
  background-color: var(--authenticator-stackexchange-color);
}

button.button-social.button-freja-eid .icon,
.button-social.button-freja-eid .icon {
  background-color: var(--authenticator-freja-eid-color);
}

button.button-social.button-cgi .icon,
.button-social.button-cgi .icon {
  background-color: var(--authenticator-cgi-color);
}

button.button-social.button-instagram .icon,
.button-social.button-instagram .icon {
  background-color: var(--authenticator-instagram-color);
}

button.button-social.button-twitter .icon,
.button-social.button-twitter .icon {
  background-color: var(--authenticator-twitter-color);
}

button.button-social.button-linkedin .icon,
.button-social.button-linkedin .icon {
  background-color: var(--authenticator-linkedin-color);
}

button.button-social.button-sms .icon,
.button-social.button-sms .icon {
  background-color: var(--authenticator-sms-color);
}

button.button-social.button-html-form .icon,
.button-social.button-html-form .icon {
  background-color: var(--authenticator-html-form-color);
}

button.button-social.button-totp .icon,
.button-social.button-totp .icon {
  background-color: var(--authenticator-totp-color);
}

button.button-social.button-saml .icon,
.button-social.button-saml .icon {
  background-color: var(--authenticator-saml-color);
}

button.button-social.button-bankid .icon,
.button-social.button-bankid .icon {
  background-color: var(--authenticator-bankid-color);
}

button.button-social.button-duo .icon,
.button-social.button-duo .icon {
  background-color: var(--authenticator-duo-color);
}

button.button-social.button-sign-in-with-apple .icon,
.button-social.button-sign-in-with-apple .icon {
  background-color: var(--authenticator-sign-in-with-apple-color);
}

button.button-social.button-netidaccess-os .icon,
.button-social.button-netidaccess-os .icon {
  background-color: var(--authenticator-netidaccess-os-color);
}

button.button-social.button-social-single-color .icon,
.button-social.button-social-single-color .icon {
  background-color: var(--authenticator-social-single-color);
}

.form-field-social-icon {
  display: inline-block;
  height: 50px;
  margin-right: 0.5rem;
  width: 50px;

  a {
    height: 100%;
    position: relative;
  }
}

.button.button-social-icon {
  align-items: center;
  display: block;
  padding-left: inherit;
}

.button-social.button-social-icon .icon,
.button-social.button-social-icon.button-bankid .ion-bankid {
  align-items: center;
  display: inline-flex;
  font-size: 1.95rem;
  justify-content: center;
  width: 100%;
}

.button-social.button-social-icon.button-bankid .ion-bankid {
  background-size: 50%;
}

.button-social.button-social-icon .icon,
.button-social.button-social-icon.button-google .ion-google {
  align-items: center;
  display: inline-flex;
  font-size: 1.95rem;
  justify-content: center;
  width: 100%;
}

.button-social.button-social-icon.button-google .ion-google {
  background-size: 45%;
}

a.button:disabled,
a.button[disabled],
.button:disabled,
.button[disabled],
.button[disabled="disabled"],
button:disabled,
button[disabled="disabled"],
button[disabled] {
  filter: grayscale(100%);
  opacity: 0.5;
  pointer-events: none;
  user-select: none;
}

button.button-link,
.button-link {
  background-color: transparent;
  color: var(--color-primary);

  &:focus,
  &:active {
    background-color: transparent;
    color: var(--color-primary);
  }

  &:hover {
    background-color: #f6f6f6;
    color: var(--color-primary);
  }

  body.body-dark .form-transparent &  {
    background-color: white;
  }
}
