$imagePath: "/../public/images/";

.ionbaseicon {
  display: inline-block;
  font-family: Ionicons;
  -webkit-font-smoothing: antialiased;
  font-style: normal;
  font-variant: normal;
  font-weight: 400;
  line-height: 1;
  speak: none;
  text-rendering: auto;
  text-transform: none;
}

.ion-bankid {
  background-image: url("#{$imagePath}bankid-logo-white.svg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 50%;

  &::before {
    @extend .visuallyhidden;
    @extend .ionbaseicon;
  }
}

.ion-google {
  background-image: url("#{$imagePath}icon-google-white.svg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 45%;

  &::before {
    @extend .visuallyhidden;
    @extend .ionbaseicon;
  }
}

.ion-aws {
  background-image: url("#{$imagePath}aws-logo-white.svg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 50%;

  &::before {
    @extend .visuallyhidden;
    @extend .ionbaseicon;
  }
}

.ion-salesforce {
  background-image: url("#{$imagePath}salesforce-logo-white.svg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 50%;

  &::before {
    @extend .visuallyhidden;
    @extend .ionbaseicon;
  }
}

.ion-freja {
  background-image: url("#{$imagePath}freja-logo-white.svg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 50%;

  &::before {
    @extend .visuallyhidden;
    @extend .ionbaseicon;
  }
}

.ion-cgi {
  background-image: url("#{$imagePath}cgi-logo-white.svg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 50%;

  &::before {
    @extend .visuallyhidden;
    @extend .ionbaseicon;
  }
}

.ion-slack {
  background-image: url("#{$imagePath}slack-logo-white.svg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 50%;

  &::before {
    @extend .visuallyhidden;
    @extend .ionbaseicon;
  }
}

.ion-bitbucket {
  background-image: url("#{$imagePath}bitbucket-logo-white.svg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 50%;

  &::before {
    @extend .visuallyhidden;
    @extend .ionbaseicon;
  }
}

.ion-box {
  background-image: url("#{$imagePath}box-logo-white.svg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 50%;

  &::before {
    @extend .visuallyhidden;
    @extend .ionbaseicon;
  }
}

.ion-signicat {
  background-image: url("#{$imagePath}signicat-logo-white.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 50%;

  &::before {
    @extend .visuallyhidden;
    @extend .ionbaseicon;
  }
}

.ion-stackexchange {
  background-image: url("#{$imagePath}stackexchange-logo-white.svg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 50%;

  &::before {
    @extend .visuallyhidden;
    @extend .ionbaseicon;
  }
}

.ion-criipto {
  background-image: url("#{$imagePath}criipto-logo-white.svg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 50%;

  &::before {
    @extend .visuallyhidden;
    @extend .ionbaseicon;
  }
}

.ion-bitbucket {
  background-image: url("#{$imagePath}bitbucket-logo-white.svg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 50%;

  &::before {
    @extend .visuallyhidden;
    @extend .ionbaseicon;
  }
}

.ion-signicat {
  background-image: url("#{$imagePath}signicat-logo-white.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 50%;

  &::before {
    @extend .visuallyhidden;
    @extend .ionbaseicon;
  }
}

.ion-openid {
  background: url("#{$imagePath}openid-logo-white.svg") 50% 50% no-repeat;
  background-size: 50%;

  &::before {
    @extend .visuallyhidden;
    @extend .ionbaseicon;
  }
}

.ion-duo {
  background: url("#{$imagePath}duo-logo-white.svg") 50% 50% no-repeat;
  background-size: 60%;

  &::before {
    @extend .visuallyhidden;
    @extend .ionbaseicon;
  }
}

.ion-netidaccess-os {
  background: url("#{$imagePath}netidaccess-os-logo.svg") 50% 50% no-repeat;
  background-size: 40%;

  &::before {
    @extend .visuallyhidden;
    @extend .ionbaseicon;
  }
}
