*,
::after,
::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  line-height: 1.375;
  text-size-adjust: 100%;
}

body {
  scroll-behavior: smooth;
  text-rendering: optimizespeed;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  overflow-x: hidden;
}

main {
  display: block;
}

button,
input,
select,
textarea {
  font: inherit;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

[type="button"],
[type="reset"],
[type="submit"],
button {
  appearance: button;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}
