// Login symbol
.login-symbol {
  position: relative;
  display: var(--login-symbol-display);
  justify-content: center;
  align-content: center;
  text-align: center;
}

.login-symbol-circle {
  text-align: center;
  width: calc(var(--login-symbol-size) * 0.75);
  height: calc(var(--login-symbol-size) * 0.75);
  display: flex;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-content: center;
  z-index: 2;
  position: relative;
  margin-top: var(--login-symbol-margin-top);
  margin-bottom: var(--login-symbol-margin-bottom);
  border-radius: var(--login-symbol-border-radius);

  @media #{$breakpoint-sm} {
    width: var(--login-symbol-size);
    height: var(--login-symbol-size);
  }
}

.login-symbol-circle img {
  width: calc(var(--login-symbol-size) * 0.75);
  height: calc(var(--login-symbol-size) * 0.75);
  object-fit: contain;

  @media #{$breakpoint-sm} {
    width: var(--login-symbol-size);
    height: var(--login-symbol-size);
  }
}

.body-dark .form-transparent .login-symbol-circle:not(.login-symbol-circle-done) {
  background-color: var(--color-primary);
}

.login-well-full {
  .login-symbol::before,
  .login-symbol::after {
    @media #{$breakpoint-md} {
      width: 42%;
    }
  }
}

.login-symbol::before {
  left: 1rem;
}

.login-symbol::after {
  right: 1rem;
}
