.box {
  overflow: hidden;
  max-height: 40px;
  transition: max-height 0.5s cubic-bezier(0, 1, 0, 1);
  border: 1px solid var(--form-field-border-color);
  border-radius: 4px;
}

.box:not(last-child) {
  margin-bottom: 0.5rem;
}

.login-well:not(.login-well-info) .area .box .area,
.login-well:not(.login-well-info) .area .box form {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  padding-bottom: 0;
}

.box[aria-expanded="true"] {
  max-height: 999px;
  transition: max-height 1s ease-out;
  padding-bottom: 2rem;
}

.box-manage[aria-expanded="true"] {
  border: 1px solid var(--form-field-border-color);
}

.box-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid var(--form-field-border-color);
  height: 40px;
  padding-left: 1rem;
  padding-right: 1rem;
  cursor: pointer;

  &:hover {
    background-color: #fafafa;
  }
}

.body-dark .form-transparent .box-header:hover {
  background-color: var(--form-field-background-color-dark);
}

.box-header h1 {
  font-size: 1rem;
  margin: 0;
  color: var(--color-primary);
}

.box-close {
  box-shadow: none;
}

.box-close:hover {
  background-color: transparent;
}

.box-close i {
  color: var(--color-primary);

  body.body-dark .form-transparent & {
    color: white;
  }

  &::before {
    transition: all 200ms ease;
  }
}

.box:not([aria-expanded="true"]) .box-close i::before {
  transform: rotate(180deg);
}
