
.example-app-wrapper {
  margin-top: 52px;
  margin-right: 600px;
}


.example-app-settings {
  position: fixed;
  top: 52px;
  right: 0;
  z-index: 100;
  display: none;
  height: calc(100% - 52px);
  background-color: #282a36;
  padding: 2rem 3rem;
  width: 600px;
  overflow-y: auto;
  &.active {
    display: block;
  }
}

.example-app-settings h1,
.example-app-settings h2,
.example-app-settings p {
  color: white;
}

.example-app-settings h1 {
  font-size: 2rem;
}


.example-app-settings label {
  color: white;
}


.example-app-settings pre {
  background-color: #15161d;
  border: none;
  color: #f8f8f2;
  border-radius: 4px;
  padding: 1rem;
  font-family: Roboto-Mono,Consolas,Monaco,Andale Mono,Ubuntu Mono,monospace;
  font-size: 0.85rem;
  line-height: 1.5;
}

.example-app-settings pre .json-mark {
  color: white;
}

.example-app-settings pre .json-key {
  color: #ff79c6;
}

.example-app-settings pre .json-number {
  color: #e7ca45;
}

.example-app-settings pre .json-link {
  color: white;
}

.example-app-settings pre .json-string {
  color: #50fa7b;
}

.example-app-template-scroller {
  max-width: calc(100vw - 300px);
  max-height: calc(100vh - 52px);
  overflow-x: scroll;
  -webkit-overflow-scrolling: touch;
  display: flex;
}

.example-app-template-scroller-item {
  position: relative;
  flex: 0 0 600px;
  border: 1px solid #ccc;
  white-space: nowrap;
  overflow-y: auto;
}

.example-app-template-scroller-item:before {
  content: attr(data-title);
  color: initial;
  background-color: lightblue;
  padding: 0.25rem 1rem;
  border-radius: 2px;
  text-transform: uppercase;
  letter-spacing: 0.01em;
  display: flex;
  place-items: center;
  max-width: 200px;
  font-size: 0.75rem;
  position: absolute;
  top: 1rem;
  z-index: 10;
  left: calc(50% - 100px);
}
